<p id="notice" ><%= notice %></p>
	<div class="panel panel-default">
		<div class="panel-heading">
			<p>
			  <strong>Title:</strong>
			  <%= @post.title %>
			</p>
		</div>
		<div class="panel-heading">
			<p>
			  <strong>Authur:</strong>
			  <%= @post.authur %>
			</p>
		</div>
		<div class="panel-body">
			<p>
			  <strong>Daily Entry</strong><%= @post_time %>	</p>
			  <p><%= @post.blog_entry %></p>
		
		</div>
		<button type="button" class="btn btn-primary">
			<%= link_to 'Edit', edit_post_path(@post) %>
		</button>
		<button type="button" class="btn btn-warning">
			<%= link_to 'Back', posts_path %>
		</button>

</div>